.button::before {
    content: "Pasa por encima";    
}

.button:hover::before {
    content: "";    
}

.button:hover {
    content: "" !important;
    color: #fff;
    background-color: green;
}

.button:hover::after {
    content: "Hecho!";
}